{% extends "base.html" %}

{% block title %}Lista de Veiculos{% endblock %}

{% block contentTitle %}Lista de Veiculos{% endblock %}

{% block content %}
    {% if veiculos %}
    <table id="listaVeiculos" class="table table-striped mt-3">
        <thead>
                <th scope="col">Placa</th>
                <th scope="col">Descrição</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Cor</th>
                <th scope="col">Opções</th>
        </thead>
        <tbody>
        {% for veiculo in veiculos%}
        <tr>
            <td><a href="{% url 'veiculos:veiculos-show' veiculo.id %}"></a> {{ veiculo.placa }}</td>
            <td>{{veiculo.descricao }}</td>
            <td>{{veiculo.marca}}</td>
            <td>{{veiculo.modelo}}</td>
            <td>{{veiculo.cor}}</td>
            <td>
            {% if user.is_authenticated %}
                <a href="{% url 'veiculos:veiculos-edit' veiculo.id %}" class="btn btn-outline-warning" data-toggle="tooltip" title="Editar"><i class="bi bi-pencil"></i></a>
                <a href="{% url 'veiculos:veiculos-delete' veiculo.id %}" class="btn btn-outline-danger" data-toggle="tooltip" title="Remover"><i class="bi bi-trash"></i></a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if user.is_authenticated %}
    <div class='mt-3'>
        <a href="{% url 'veiculos:veiculos-add' %}" class="btn btn-secondary"><i class="bi bi-plus-lg"></i> Adicionar</a>
    </div>
    {% endif %}

{% endblock %}

{% block project_extrajs %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

<script>
    new DataTable('#listaVeiculos', {
        responsive: true,
        pageLength: 50,
        language: {
            url:"https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
        }
    });

</script>

{% endblock %}