{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Lista de Funcionários{% endblock %}

{% block contentTitle %}Lista de Funcionários{% endblock %}

{% block content %}
    <table id="listaFuncionarios" class="table table-striped mt-3">
        <thead>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Usuário</th>
            <th scope="col">Setor</th>
            <th scope="col">Opções</th>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
                <tr>
                    <td>{{funcionario.usuario.first_name}}</td>
                    <td>{{funcionario.usuario.last_name}}</td>
                    <td>{{funcionario.usuario}}</td>
                    <td>{{funcionario.setor}}</td> 
                    <td>
                    {% if user.is_authenticated %}
                        <a href="{% url 'funcionarios:funcionario-edit' funcionario.id %}" class="btn btn-outline-warning" data-toggle="tooltip" title="Editar"><i class="bi bi-pencil"></i></a>
                        <a href="{% url 'funcionarios:funcionario-delete' funcionario.id %}" class="btn btn-outline-danger" data-toggle="tooltip" title="Remover"><i class="bi bi-trash"></i></a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
    <div class='mt-3'>
        <a href="{% url 'funcionarios:funcionario-add' %}" class="btn btn-secondary"><i class="bi bi-plus-lg"></i> Adicionar</a>
    </div>
    {% endif %}

{% endblock %}

{% block project_extrajs %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

<script>
    new DataTable('#listaFuncionarios', {
        responsive: true,
        pageLength: 50,
        language: {
            url:"https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
        }
    });

</script>

{% endblock %}