{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Início{% endblock %}

{% block contentTitle %}Início{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="my-3 p-3 bg-body rounded">
            <div class="d-flex row justify-content-evenly">
                <div class="col-lg-4 mb-3 text-center imagetiles card card-inicio shadow-sm" style="width: 20rem;">
                    <a href="{% url 'viagens:viagens-add' %}" class="{% if not user.is_authenticated %} disabled {% endif %} nav-link">
                        <i class="bi bi-taxi-front-fill" style="font-size: 12rem;"></i>
                        <h3>Solicitar Viagem</h3>
                    </a>
                </div>
                 <div class="col-lg-4 mb-3 text-center imagetiles card card-inicio shadow-sm" style="width: 20rem;">
                    <a href="{% url 'viagens:viagens-list-Pend' %}" class="{% if not user.is_authenticated %} disabled {% endif %} nav-link">
                        <i class="bi bi-sign-turn-slight-right" style="font-size: 12rem;"></i>
                        <h3>Consultar Viagem</h3>
                    </a>
                </div>
            </div>
    </div>
{% else %}
Relize o login para utilizar o sistema
{% endif %}

{#{%if visitantes %}#}
{#<table class="table table-striped mt-3">#}
{#    <thead>#}
{#        <tr>#}
{#            <th scope="col">Selecionar</th>#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for visitante in visitantes%}#}
{#    <tr>#}
{#        <td><a href="{% url ':visitantes-show' visitante.id %}"><img src="{{visitante.imagem.url}}" class="rounded img-thumbnail" width="75"/></a></td>#}
{#        <td>#}
{#        {% if user.is_authenticated %}#}
{#            <a href="{% url 'visitas:visitas-add-user' visitante.id %}" class="btn btn-secondary btn-sm"  data-toggle="tooltip" title="Registrar visita"><i class="bi bi-check-lg"></i> selecionar</a>#}
{#        {% endif %}#}
{#        </td>#}
{#    </tr>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}
{#{% endif %}#}


{% endblock %}

{% block project_extrajs %}

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function(){
        $('#id_cpf').mask('000.000.000-00', {reverse: true});
    });

</script>

{% endblock %}